*{
    box-sizing:border-box;
}


#container{
    width:500px;
    margin:40px auto;
    padding:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ffb677;
    height:900px;
    overflow: auto;
    border-radius:10px;
    box-shadow: 10px 10px #fdc57b;
    

}

table,tr,td{
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
    width:100%;
    font-size: x-large;
    
}



#info,#measurements,#image,#types,#stats{
    margin-top:10px;
}

#info{
    height:400px;
    background-color: #edf7fa;
    padding:10px;
    display: flex;
    font-size: x-large;
    flex-direction: column;
    justify-content: left;
    
}

#measurements{
    font-size: large;
}

#types{
    font-size:medium;
}

.typesButton{
    
    border:1px solid black;
    padding:4px;
}

#types{
    display: none;
}

body{
    background-color: #5f6caf;
}

#search-button,#search-input{
    font-size:large;
}

#search-button{
    background-color: #ff8364;
    padding:2px;
    border-radius: 5px;
}